html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#max_box{
    width: 100%;
    height: 100%;
}
#left{
    width: 3%;
    height: 100%;
    background-color: navy;
    -webkit-animation:nomove 1s 1;
}
@-webkit-keyframes move
{
    from{width:3%;}
    to{width: 10%;}
}
@-webkit-keyframes no_move {
    from{width: 3%}
    to{width: 3%}
}