html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
#background{
    width: 100%;
    height: 100%;
}
#max_box{
    width: 100%;
    height: 100%;
}
#process{
    width: auto;
    height: 48%;
    position: fixed;
    top: 58%;
    -webkit-animation: processMove 30s infinite;
}
@-webkit-keyframes processMove{
    from{left:-5%;}
    to{left: 100%;}
}
#process img{
    height: 100%;
}
.tip{
    color: #DB7093;
    position: absolute;
    z-index: 1;
}
#background_img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#login_view{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 90%;
    position:absolute;
    left: 4%;
    top: 8%;
}
#main_img{
    height: 100%;
    width: 60%;
}
#login_img{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
}
#login_img_img{
    width: 35%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
#login_title{
    width: 94%;
    height: 7.5%;
    font-size: 35px;
    color: rgba(0,235,255);
    position: relative;
    top: 8%;
    padding-left: 6%;
}
#user{
    position: relative;
    top: 12%;
    height: 7.5%;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom-color:rgba(0,235,255);
    outline: none;
    color:rgba(0,235,255);
    font-size: 25px;
}
#password{
    position: relative;
    top: 20%;
    height: 7.5%;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom-color:rgba(0,235,255);
    outline: none;
    color:rgba(0,235,255);
    font-size: 25px;
}
#login{
    padding: 0;
    position: relative;
    top: 35%;
    height: 10%;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0,237,255);
    font-size: 35px;
    border: 0;
    color: white;
}
#login:focus{
    outline: none;
    background-color: rgba(100,237,255);
}
#no_count{
    margin: 0 auto;
    height: 3.75%;
    font-size: 17.5px;
    color: rgba(0,235,255);
    position: relative;
    top: 40%;
}
#other_count{
    margin: 0 auto;
    height: 2.375%;
    font-size: 9px;
    color: rgba(44,125,166);
    position: relative;
    top: 42%;
}
#other_counts{
    display: flex;
    flex-direction: row;
    height: 14.75%;
    position: relative;
    top: 46%;
}
#weibo_img{
    height: 100%;
    margin: 0 auto;
}
#wechat_img{
    height: 98.75%;
    margin: 0 auto;
    padding: 1.25%;
}
#qq_img{
    height: 100%;
    margin: 0 auto;
}
